{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Bravo {{ app.user.prenom }}, tu es prêt(e) !</h3>
		<p>Maintenant, vérifie ton profil sosHCR pour voir si tout est OK.</p>
		<a class='btn btn-yellow' href="{{ path('public_profil', {'id' : app.user.id}) }}">Je vérifie mon profil</a>
		<p>ou</p>
		<a class='btn btn-yellow' href="{{ path('dashboard') }}">Je découvre mon tableau de bord</a>
	   	<div class="clearfix spacer"></div>
	</div>

{% endblock %}