{% extends 'SosBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/sos/global/js/usercriteres.js') }}"></script>
{% endblock %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Au cours des 6 prochains mois, quand es-tu disponible ?</h3>
		<p>(Indique 1 date de début et 1 date de fin dans la même case : jj/mm/aaaa - jj/mm/aaaa)</p>
		<br>
			<form class="disponibilite informations col-sm-6 col-sm-offset-3" method="post" action="{{ path('usercriteres_step_9') }}">
				<input type="hidden" name="form" value="step_8">
				<br>
				<div class="input-group-btn">
				    <button class="btn btn-default" id="add-disponibilite-periode" type="button">
						Ajouter une période&nbsp;&nbsp;<i class="fa fa-plus" ></i>
					</button>	
			  	</div>
				<div class="input-group-btn">
				    <button class="btn btn-default" id="add-disponibilite-jour" type="button">
						Ajouter un jour&nbsp;&nbsp;<i class="fa fa-plus" ></i>
					</button>	
			  	</div>

				<div class="clearfix"></div>
				<br><br><br>
				<button type="submit" class="btn btn-soshcr text-center">Suivant</button>
			</form>



	   	<div class="clearfix spacer"></div>
	</div>

{% endblock %}