{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div id="poste_hotellerie" class="col-xs-12 sos-form">
		<h3 class="title-heading">Bravo {{ app.user.prenom }}, tu es prêt(e) !</h3>
		<p>Maintenant pour faire bonne impression et être bien classé(e),  tu peux facilement demander des recommandations à tes anciens employeurs !</p>
		<a class='btn btn-yellow' href="{{ path('demandeRecommandation') }}">Je me fais reccommander</a>
		<p>ou</p>
		<a class='btn btn-yellow' href="{{ path('dashboard') }}">Je découvre mon tableau de bord</a>
	   	<div class="clearfix spacer"></div>
	</div>

{% endblock %}