{% extends 'SosBundle::layout.html.twig' %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/sos/global/js/ville.js') }}"></script>
	
{% endblock %}

{% block sos_body %}
	
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 sos-form col-md-4 col-md-offset-4">
		<h3 class="title-heading">{{ app.user.prenom|capitalize }}, quelle est ton adresse et à combien de kilomètres peux tu te déplacer ?</h3>
		<br>

		<form class="informations" method="post" action="{{ path('usercriteres_step_4') }}">

			<div class="row">
			    <div class="input-group">
					<input type="hidden" name="form" value="step_3">
					<input required class="form-control" style="width:70%!important" placeholder="Nom de rue, ville..." name="ville" id="ville">
					<input required class="form-control" style="width:30%!important" placeholder="Rayon (en km)" name="rayon_emploi" id="rayon_emploi">
					<span class="input-group-btn">
						<button class="btn btn-default" id="seach-btn" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
					</span>
			    </div><!-- /input-group -->
			</div><!-- /.row -->
		</form>

	   	<div class="clearfix spacer"></div>
	</div>

{% endblock %}