<div class="clearfix"></div>

<footer>
    <ul>
        <li><a href="{{path('contact')}}" >Contact</a></li>
        <li><a href="https://www.facebook.com/SOSHCR/" >Facebook</a></li>
        <li><a href="{{path('cgv')}}" >Légal / CGV</a></li>
        <li><a href="signaler.html" >Signaler un profil</a></li>
    </ul>
</footer>