<div class="clearfix"></div>

<footer>
    <ul>
        <li><a href="contact.html" >Contact</a></li>
        <li><a href="https://www.facebook.com/SOSHCR/" >Facebook</a></li>
        <li><a href="legal.html" >Légal / CGV</a></li>
        <li><a href="signaler.html" >Signaler un profil</a></li>
    </ul>
</footer>