{% extends 'SosBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block sos_body %}

	<div class="col-xs-12 sos-form">

	    <p>{{ 'registration.confirmed'|trans({'%username%': user.prenom}) }}</p>

		<p>Vous pouvez désormais completer votre profil via le lien suivant : <br/> <a href="{{ path('profil') }}" >Completer mon profil</a> </p>

	    {% if targetUrl %}
	    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
	    {% endif %}
	</div>

{% endblock sos_body %}
