{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	
	<div class="content-container">
		<div class="content-middle">
			<div class="col-xs-12 sos-form">

			    <p>Félicitation {{ user.prenom}}, ton compte est activé.</p>
				<p>En complétant ton profil, tu permets aux employeurs de te recruter directement.</p>
				<a href="{{ path('usercriteres_step_1') }}" class="btn btn-yellow">Complète ton profil maintenant !</a>

			    {% if targetUrl %}
			    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
			    {% endif %}
			</div>
		</div>
	</div>

{% endblock %}
