{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="content-container">
		<div class="content-middle">
    		<p>Un e-mail a été envoyé à l'adresse {{ user.email }}. Il contient un lien d'activation sur lequel il te faudra cliquer afin d'activer ton compte.</p>
    	</div>
    </div>
{% endblock body %}
