{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="content-container">
		<div class="content-middle">
    		<p>Tu vas recevoir un mail pour valider ton compte. Vérifie ta boîte mail, tes spams ou courriers indésirables car le lien d'activation de ton compte sosHCR a été envoyé à l'adresse {{ user.email }}.</p>
    	</div>
    </div>
{% endblock body %}
