{% if step is defined %}
    <div id='barre-jaune-footer' class='step-{{ step }}'></div>
{% endif %}

<footer>
    <ul>
        <li><a href="contact.html" >Contact</a></li>
        <li><a href="#" >Facebook</a></li>
        <li><a href="legal.html" >Légal / CGV</a></li>
        <li><a href="signaler.html" >Signaler un profil</a></li>
    </ul>
</footer>