{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}
	<h3 class="title-heading">LES CONDITIONS GÉNÉRALES</h3>
	<div class="container">
		<ul class="timeline">
			<li>
				<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Préambule</h4>
						<br>
						<h4 class="title-heading">L’objet</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>Les CGU et CGV constituent le règlement intérieur de ce site internet. Elles limitent la responsabilité de SOSHCR en cas d’utilisation non conforme du site par un internaute, elles contraignent les visiteurs à respecter certaines règles….Pour résumer, elles permettent de déterminer ce qui est autorisé ou non de faire sur ce Site internet, de fixer la responsabilité de chacun et de définir les sanctions applicables en cas de non-respect des règles édictées par les CGU et CGV.</p>
						<br><p>Les conditions de souscription par les Candidats à une prolongation payante de leur Compte Candidat sont fixées dans les conditions générales de vente ( « CGV » )</p>
						<br><p>SOSHCR se réserve la possibilité de modifier, à tout moment, les CGU et les CGV. Les Utilisateurs et les Candidats sont invités à consulter régulièrement ces présentes afin de prendre connaissance de changements éventuels effectués.</p>
						<br><p>SOSHCR se réserve le droit, à tout moment, de modifier, de vendre ou d’interrompre le Service SOSHCR.</p>
						<br><p>Les présentes CGU et CGV sont soumises au droit français. Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français. À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de CAEN.
							Nous vous invitons à nous contacter, pour toute question ou plainte relative à la protection de votre privée et de vos données personnelles, à l’adresse émail suivante : <a href="mailto:contact@soshcr.fr">contact@soshcr.fr</a></p>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">Définition</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>Chacun des termes mentionnés ci-dessous aura dans les présentes CGU et CGV la signification suivante :</p>
						<br><p><strong>SOSHCR</strong> : désigne l’entreprise individuelle qui édite et exploite le Site Internet et les Applications. Son siège social est situé 23 rue du gibet 50500 Carentan les Marais, elle est propriétaire des droits d'auteur et de la marque SOSHCR visible sur le site <a href="www.soshcr.fr">www.soshcr.fr</a></p>
						<br><p><strong>Candidat</strong> : désigne toute personne physique, majeure ou mineur, titulaire d’un Compte Candidat. Tout Candidat doit impérativement être connecté à son Compte Candidat pour compléter et mettre à jour son Compte Candidat.</p>
						<br><p><strong>Compte Candidat</strong> : désigne l'espace que tout Candidat doit se créer et auquel il doit se connecter depuis le Site Internet ou Applications, afin  de gérer et mettre à jour son Profil. Le Compte Candidat est gratuit durant les 3 mois suivant sa création, le Candidat peut ensuite choisir de conserver son Compte Candidat et ses Recommandations en achetant une prolongation de Compte candidat. Sinon son Profil sera complètement supprimé et cela sans récupération de données possible.</p>
						<br><p><strong>Profil</strong> : désigne l’ensemble des informations relatif au Candidat, nom, prénom, age, adresse émail, numéro de téléphone, disponibilité, localité, compétences professionnelles, Recommandations, ect… qui s’affichent dans les résultats de recherche aux yeux des Utilisateurs et Candidats.</p>
						<br><p><strong>Recommandation</strong> : désigne un avis favorable. Elle doit être demandée et attribuée exclusivement par une entreprise ayant employé le Candidat demandeur. Les Recommandations sont un gages des qualités humaines et professionnelles du Candidat. Limitée à 1 recommandation par entreprise et par Compte Candidat.</p>
						<br><p><strong>Service SOSHCR</strong> : désigne les services et outils mis à la disposition des Utilisateurs et des Candidats sur le Site Internet et Applications dont l’adresse émail de contact est <a href="contact@soshcr.fr">contact@soshcr.fr</a></p>
						<br><p><strong>Site Internet</strong> : désigne le site internet exploité par SOSHCR accessible principalement depuis l'URL www.soshcr.fr et permettant aux Utilisateurs et aux Candidats d'accéder via internet au Service SOSHCR.</p>
						<br><p><strong>Applications</strong> : désigne les applications du Service SOSHCR exploitées par SOSHCR et accessible principalement sur “app store” et “play store” depuis les tablettes, téléphones android ou iphone.</p>
						<br><p><strong>Utilisateur</strong> : désigne tout visiteur, ayant accès au Service SOSHCR.</p>

					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">La loi</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>● Conformément à la loi nº78-17 du 6 janvier 1978, dite " Informatique et libertés ", SOSHCR a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (C.N.I.L) sous le numéro : 2009231 v 0 du 22 novembre 2016.</p>
						<br><p>●	En sa qualité d'hébergeur, SOSHCR est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
						<br><p>●	Conformément aux articles 38, 39 et 40 de la loi nº78-17 du 6 janvier 1978, tout Utilisateur et Candidat du Service SOSHCR disposent à tout moment d'un droit d'opposition, d'accès, de rectification, de suppression ainsi que d'opposition au traitement des données le concernant.</p>
						<br><p>●	Conformément à la loi nº78-17 du 6 janvier 1978, SOSHCR s'engage à conserver toutes les données personnelles recueillies via le service SOSHCR et à ne les transmettre à aucun tiers. Par dérogation, l'Utilisateur et le Candidat sont informés que SOSHCR peut être amenée à communiquer les données personnelles collectées via le service SOSHCR aux autorités administratives et judiciaires autorisées, uniquement sur réquisition judiciaire.</p>
						<br><p>●	L'utilisation à des fins commerciales ou de diffusion dans le public de données obtenues à partir du Site Internet est formellement interdite, sous peine de sanction pénales prévues par les articles 226-16 à 226-24 du Code Pénal qui sanctionnent notamment le délit de collecte illicite de données personnelles.</p>
						<br><p>●	SOSHCR est producteur des bases de données du Service SOSHCR. En conséquence, toute extraction ou réutilisation des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.</p>
						<br><p>●	En application de l'article L 121-21 du code de la consommation, le Candidat dispose d'un délai de quatorze (14) jours francs pour se rétracter. Toutefois, en validant son achat de prolongation de Profil, le Candidat accepte que SOSHCR commence à exécuter la prestation et renonce à son droit de rétractation.</p>
						<br><p>●	Si une partie des CGU et CGV devait s'avérer illégale, invalide ou inapplicable, pour quelle que raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Utilisateurs ou les Candidats et SOSHCR.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge warning"><i class="glyphicon glyphicon-info-sign"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">LES CONDITIONS GÉNÉRALES D’UTILISATION (CGU)</h4>
						<br>
						<h4 class="title-heading">L'accès au site</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>Les Utilisateurs et les Candidats déclarent en accédant et utilisant le service SOSHCR avoir pris connaissance des présentes Conditions Générales d’Utilisation et les avoir acceptées.</p>
						<br><p>Les Utilisateurs et les Candidats devront, pour accéder au Service SOSHCR, disposer d’un accès à l’Internet souscrit auprès du fournisseur de leur choix, dont le coût est à leur charge, et reconnaissent que SOSHCR n’a aucune responsabilité en cas de problèmes techniques, déconnections, virus, pannes ou tentative d’intrusion dont ils pourraient être victime du fait de leur connexion au Site Internet.</p>
						<br><p>Le Site internet se réserve le droit d'utiliser des cookies. Les Utilisateurs sont informés que lors de leurs visites sur le site, un cookie peut s'installer automatiquement sur leur logiciel de navigation. Un cookie est un élément qui ne permet pas d'identifier l'utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L'utilisateur pourra désactiver ce cookie par l'intermédiaire des paramètres figurant au sein de son logiciel de navigation.
						</p>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">Description du site</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>Le Service SOSHCR propose aux Utilisateurs et aux Candidats un outil de recherche pour que des employeurs professionnels de l’hôtellerie restauration trouvent les coordonnés de candidats en recherche d’emploi, extra, stage ou apprentissage dans le domaine de l’hôtellerie restauration, c’est un annuaire de Candidat hôtelier restaurateur. SOSHCR n’a aucune obligation de résultat quant à la quantité et la qualité des Profils proposés. De même SOSHCR ne garanti pas l’embauche des Candidats. Ne proposant pas de modérateur sur le Service SOSHCR, SOSHCR n’est pas responsable en cas de présence de Profil frauduleux ou mensongers ni en cas d’Utilisateurs malveillants. Tout Profil suspect peut être signalé par dénonciation via le lien “signaler un profil” situé en bas de chaque page. Il est de la responsabilité des Utilisateurs et des Candidats de vérifier la véracité de toutes informations communiquées, notamment les Recommandations, les Profils Candidat et toutes offres émises par les Utilisateurs.</p>
						<br><p><strong>Le classement des Profils</strong><br>Les Profils des Candidats sont classés sur le Service SOSHCR par ordre décroissant, en fonction d’un algorithme calculé à partir des renseignements fournis dans leur Profil et du nombre de Recommandation obtenues au moment de la recherche en ligne. Ce que Candidat accepte.</p>
					<br><p><strong>Les fonctionnalités du service SOSHCR</strong><br>Voici les fonctionnalités gratuites accessibles aux Candidats et aux Utilisateurs:</p>
						<ul>●	Effectuer une recherche de candidat au travers différent critères (compétences, expériences, localité et disponibilité</ul>
						<ul>●	S’abonner à la page facebook</ul>
						<ul>●	Signaler un Profil</ul>
						<ul>●	Imprimer les résultats</ul>
						<ul>●	Contacter les Candidats</ul>
						<ul>●	Commencer de nouvelles recherches de façon illimitées</ul>
						<ul>●	Créer un Compte Candidat gratuit pendant 3 mois</ul>
						<br><p>Voici les fonctionnalités gratuites accessibles aux Candidats connectés :</p>
						<ul>●	modifier leur adresse émail</ul>
						<ul>●	modifier leur numéro de téléphone</ul>
						<ul>●	modifier leur disponibilités</ul>
						<ul>●	modifier les paramètres spécifiques à leurs recherches (postes de travail, localité, compétences, expériences,  … )</ul>
						<ul>●	modifier leur mot de passe</ul>
						<ul>●	supprimer leur Compte Candidat</ul>
						<ul>●	demander des Recommandations</ul>
						<ul>●	partager son nombre de Recommandation sur facebook</ul>

						<br><p>Voici les fonctionnalités payante accessible aux Candidats connectés :<br>
							●	souscrire à la conservation du Compte Candidat 12 mois supplémentaires, le tarif est 15 € net.
							<br>●	souscrire à la conservation du Compte Candidat 36 mois supplémentaires, le tarif est 30 € net.
						</p>
						<br><p><strong>Le Compte Candidat</strong><br>Le Candidat s’engage à respecter et à maintenir la confidentialité de ses identifiants de connexion et reconnaît que toute connexion à son Compte Candidat, ainsi que toute les données de son Compte Candidat sera réputée avoir été enregistré ou modifié par le Candidat.<br>Toute perte, détournement ou utilisation des identifiants de connexion et leurs éventuelles conséquences relèvent de la responsabilité du Candidat.<br>Le Candidat accepte que pour des raisons d'ordre technique, son Profil sera accessible instantanément après sa création sur le Site Internet affichant les informations relatif au Candidat, nom, prénom, age, adresse émail, numéro de téléphone, disponibilité, localité, compétences professionnelles, Recommandations, ect.<br>Le Candidat accepte qu'en publiant son Profil sur le site Internet, il est susceptible d'être contacté par tout Utilisateur et/ou Candidat du Site internet</p>
						<br><p><strong>Expiration du Compte Candidat</strong><br>A compter du jour de sa création, tout Profil dont les disponibilités et critères correspondent à une recherche sera affiché dans la liste des résultats de Candidat et ce pour une durée gratuite de 3 mois. Passée cette durée initiale de 3 mois, SOSHCR envoie au Candidat un émail l'informant que son Profil a expiré et lui propose de reconduire son Compte Candidat pour 12 mois ou 36 mois supplémentaires moyennant l’achat d’une prolongation de Compte Candidat. Si le Candidat ne reconduit pas son Profil dans les 5 jours suivant la réception de cet émail, il ne pourra pas prolonger son Compte Candidat, toutes ces données seront supprimés, sans aucune récupération possible.</p>
						<br><p><strong>Suppression du Compte Candidat</strong><br>SOSHCR se réserve le droit de supprimer, sans indemnité ni droit à remboursement des sommes engagées par le Candidat, tout Compte Candidat qui serait mensonger ou frauduleux ou qui serait susceptible de porter atteinte aux droits d'un tiers. Sans que cela ne crée une obligation de vérifier chaque Compte Candidat.<br>La suppression d'un Compte Candidat entraîne la suppression de toutes les données et Recommandations attachées à ce compte, en conséquence, toute prolongation souscrite pour ce Compte Candidat est aussi supprimée et ne donne aucun droit à remboursement, ni indemnité, ce que le Candidat accepte.</p>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">Les règles relatives aux données personnelles</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p><strong>Le contenu des Profils</strong><br>Le contenu des Profils déposées appartient aux Candidats, néanmoins, en créant un Compte Candidat sur le Site Internet, le Candidat accepte que ces données personnelles soit collectées (nom, prénom, age, adresse mail, numéro de téléphone, localité, disponibilité, ...). Ces informations sont modifiables à tout moment par son titulaire hormis le nom, le prénom et l’age.</p>
						<br><p>Les données personnelles collectées sont utilisées par SOSHCR pour :
							<br>●	l’affichage du Profil Candidat dans les résultats de recherche
							<br>●	l’envoi d’émail de rappel pour informer de l’expiration du Compte Candidat
							<br>●	les statistiques interne de SOSHCR
						</p>
						<br><p><strong>Les Recommandations</strong><br>Pour obtenir une Recommandation, le Candidat doit remplir un formulaire demandant le nom de l’entreprise, l’adresse émail de l’entreprise, la ville où est situé l’entreprise et le Nom de famille du responsable de l’établissement, ces données ne sont utilisées que pour personnaliser l’émail envoyé à l’entreprise recommandant le Candidat.<br>Dans le cas où l’entreprise accepte de recommander de Candidat, le nom de l’entreprise et sa ville sont conservées et visible sur le Profil du Candidat.<br>Dans le cas où l’entreprise n’accepte pas de recommander le Candidat, ces données ne sont ni conservées, ni utilisées.<br>Ces informations sont mentionnées sur l’émail de Recommandation envoyé à l’entreprise renseigné par le Candidat :<br>“En validant, le nom et la ville de votre entreprise apparaîtra sur le profil de ...“<br>“Pour information, votre adresse émail et nom de famille ne sont en aucune manière conservés, ils servent uniquement à l’envoi de ce présent mail.”
						</p>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">Les règles relatives à la propriété intellectuelle</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>La marque et logo SOSHCR sont des marques déposées. Toute reproduction totale ou partielle de ces marques ou logos est interdite. SOSHCR interdit à tout Utilisateur et Candidat de copier, modifier, créer une œuvre dérivée du Site internet et Applications et leurs contenus, notamment les images,  logos, marques, éléments graphiques, textuels, visuels, données, etc., sous peine de sanction. SOSHCR interdit le faîte d’utiliser tout ou en parti le modèle, mise en page, apparence et outil de recherche du Site internet et Applications sur tout support, internet ou autre, et pour tout secteur d’activité professionnelle, hôtellerie restauration ou autre sous peine de poursuites judiciaires et notamment pour contrefaçon.</p>
						<br><p>Toute utilisation ou modification non expressément autorisée du contenu du Site Internet entraîne une violation des droits d'auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l'image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et pénale de son auteur.</p>
						<br><p>Tout Utilisateur et Candidat du Service SOSHCR s'engagent à ne pas :
							<br>●	extraire, à des fins commerciales ou non, des informations ou des Profils présents sur le Service SOSHCR
							<br>●	reproduire sur tout autre support, à des fins commerciales ou non, les informations ou des Profils présents sur le Service SOSHCR
							<br>●	utiliser tout moyen permettant de récupérer ou d'indexer du contenu du Site Internet.
						</p>
						<br><p>Le Service SOSHCR peut contenir des liens hypertextes redirigeant vers des sites exploités par des tiers. Ces liens sont fournis à simple titre d'information. SOSHCR n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l'accès, au contenu ou à l'utilisation de ces sites, ainsi qu'aux dommages pouvant résulter de la consultation des informations présentes sur ces sites. La décision d'activer ces liens relève de la pleine et entière responsabilité de l'Utilisateur et Candidat.</p>
						<br><p>Aucun lien hypertexte ne peut être créé vers le Service SOSHCR sans l'accord préalable de SOSHCR. Si un internaute ou une personne morale désire créer un lien hypertexte vers le Service SOSHCR, il doit avoir l’accord écrit de SOSHCR en lui adressant un émail à l'adresse suivante <a href="mailto:contact@soshcr.fr">contact@soshcr.fr</a></p>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">Responsabilité</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p><strong>Responsabilité et obligations du Candidat</strong><br>Le Candidat garantit détenir tous les droits ou avoir obtenu toutes les autorisations nécessaires à la création de son Compte Candidat.<br>
							Le Candidat garantit que son Profil ne contrevient à aucune réglementation en vigueur, ni aucun droit de tiers et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.<br>
							Le Candidat s'engage à ce que son Profil ne contienne :<br>
							●	aucune information fausse, mensongère ou de nature à induire en erreur les Utilisateurs
							<br>●	aucun lien hypertexte
							<br>Le Candidat s'engage, en cas d'indisponibilité, à procéder à la mise à jour de ses disponibilités dans le Service SOSHCR dans les plus brefs délais.
							<br>Le Candidat déclare qu'il est seul responsable du contenu du Profil qu'il publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.
							<br>En conséquence, le Candidat relève SOSHCR de toutes responsabilités.
						</p>
						<p><strong>Responsabilité et obligations de SOSHCR</strong><br>SOSHCR n’est pas responsable du contenu des Profils publiées par les Candidats et ne donne aucune garantie, expresse ou implicite, à cet égard.

							<br>SOSHCR est un tiers aux relations entre les Candidats et les Utilisateurs, et exclut toute responsabilité à cet égard.

							<br>SOSHCR s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture du Service SOSHCR aux Utilisateurs et aux Candidats. Toutefois, SOSHCR décline toute responsabilité en cas de :
							<br>●	problèmes techniques, déconnections, virus, pannes ou tentative d’intrusion dont ils pourraient être victime et ce quelles qu'en soient l'origine.
							<br>●	la perte de données stockées par SOSHCR .
							<br>●	dommages directs ou indirects causés à l'Utilisateur ou au Candidat.
							<br>●	utilisation anormale ou illicite du Service SOSHCR par tout Utilisateur ou Candidat

							<br>La responsabilité de SOSHCR ne pourra être engagée que pour les dommages directs subis par le Candidat, résultant d’un manquement à ses obligations contractuelles telles que définies les CGV.

							<br>L’Utilisateur et le Candidat renonce donc à demander réparation à SOSHCR en cas de dommages indirects. Tout Utilisateur et Candidat est seul responsable des dommages causés aux tiers et des conséquences des réclamations qui pourraient en découler. L'Utilisateur renonce à exercer tout recours contre SOSHCR dans le cas de poursuites conduites par un tiers à son encontre du fait de l'utilisation ou de l'exploitation illicite du Service SOSHCR, en cas de perte par un Candidat de son mot de passe ou en cas d'usurpation de son identité.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge info"><i class="glyphicon glyphicon-question-sign"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">LES CONDITIONS GÉNÉRALES DE VENTE (CGV)</h4>
						<hr>
					</div>
					<div class="timeline-body">
						<p>Les présentes Conditions Générales de Vente (CGV) établissent les conditions contractuelles applicables à toute achat de prolongation de Profil par un Candidat connecté à son Compte Candidat. Toute achat de prolongation de Profil par un Candidat vaut acceptation pleine et entière des CGV en vigueur.

							<br>L’achat d’une prolongation de Compte Candidat repousse de 12 mois ou 36 mois la date d’expiration du Compte Candidat, le tarif appliqué est net et est celui en vigueur au jour de l'achat d'une prolongation de profil par le Candidat. SOSHCR se réserve la possibilité de modifier son prix à tout moment.

							<br>Il existe 2 offres :
							<br>●	L’offre à 15 € net = 12 mois de prolongation (365 jours)
							"TVA non applicable, article 293 B du CGI"

							<br>●	L’offre à 30 € net = 36 mois de prolongation (1 095 jours)
							"TVA non applicable, article 293 B du CGI"

							<br>Le paiement est exigible lors de l’achat de chaque prolongation payante.

							<br>L’achat d’une prolongation de Compte Candidat n'est souscrite que pour un seul Compte Candidat. En conséquence, il n'est pas possible de transférer le bénéfice d'une prolongation de Profil d'un Candidat à un autre.

							<br>L’achat d’une prolongation de Profil peut être effectué, par tout Candidat connecté à son Compte Candidat, et cela à tout moment au cours de la période de validité du Compte Candidat depuis le tableau de bord du Compte Candidat via le bouton « Je conserve mon profil ».

							<br>Aucune prolongation de Compte Candidat n’est possible après son expiration car il est supprimé de manière automatisée.

							<br>La modification d'un Compte Candidat ne prolonge pas sa durée de validité.

							<br>La suppression d'un Compte Candidat entraîne la suppression de toutes les données et Recommandations attachées à ce compte, en conséquence, toute prolongation souscrite pour ce Compte Candidat ne donne aucun droit à remboursement, ni indemnité, ce que le Candidat accepte.

							<br>Toute souscription payante donnera lieu, sur demande, à une facture envoyée à l'adresse mail indiquée par le Candidat lors de la création de son Compte Candidat. Les factures et justificatifs n'apparaîtront pas dans le Compte Candidat, le Candidat devra conserver ces justificatifs par ces propres moyens.

							<br>Les prolongations de Profil ne sont pas remboursables, si un Compte Candidat est supprimé par SOSHCR en raison de sa non-conformité aux CGU du Service SOSHCR : aucun remboursement ne sera effectué. Si le service SOSHCR cesse son activité, peu importe la raison : aucun remboursement ne sera effectué.

							<br>La responsabilité de SOSHCR ne peut être engagée en cas d'inexécution ou de mauvaise exécution de l’achat de prolongation, soit du fait du Candidat, soit d'un cas de force majeure.

							<br>SOSHCR se réserve la possibilité, à tout moment, de modifier les CGV. Les Candidats sont invités à consulter régulièrement les CGV afin de prendre connaissance des changements apportés.


							<br>En application de l'article L 121-21 du code de la consommation, le Candidat dispose d'un délai de quatorze (14) jours francs pour se rétracter. Toutefois, en validant son achat de prolongation de Profil, le Candidat accepte que SOSHCR commence à exécuter la prestation et renonce à son droit de rétractation.
						</p>

					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">LES MENTIONS LÉGALES</h4>
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">LES INFORMATIONS LIÉES À L'ÉDITEUR DU SITE</h4>
						<hr>
					</div>
					<div class="timeline-body">
						○	Poidevin Christophe
						<br>○	23 rue du gibet 50500 Carentan les Marais
						<br>○	contact@soshcr.fr
						<br>○	823 747 407 RCS Coutances
					</div>
					<div class="timeline-heading">
						<br>
						<h4 class="title-heading">INFORMER LES VISITEURS SUR LES CONDITIONS D'HÉBERGEMENT</h4>
						<hr>
					</div>
					<div class="timeline-body">
						○	OVH
						<br>○	SAS au capital de 10 069 020 €
						<br>○	RCS Lille Métropole 424 761 419 00045
						<br>○	Code APE 2620Z
						<br>○	N° TVA : FR 22 424 761 419
						<br>○	Siège social : 2 rue Kellermann - 59100 Roubaix - France.

					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
