{% extends 'SosBundle::base.html.twig' %}

{% block body %}

<div class="container">
    <a href="{{ path('search') }}"  id="container-btn" class="col-xs-12">
        <span id="find-btn">TROUVER</span>
        <p id="text-btn">l' employé idéal</p>
    </a>
</div>

{% endblock %}
