{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}

	<div class="container">
	    <a href="{{ path('ville') }}"  id="container-btn" class="col-xs-12">
	        <span id="find-btn">TROUVER</span>
	        <p id="text-btn">l' employé idéal.</p>
	    </a>
	</div>

{% endblock %}
