{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}
    
    <div class="container">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-12">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                        <div  style="height: auto" class="info">

                            <form class="form-horizontal" method="POST">
                                <h3 class="title">A qui demandes tu 1 recommandation ? <small>(1 demande par jour)</small></h3>

                                <fieldset>
                                    <br>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="civilite"></label>
                                        <div class="col-md-4">
                                                <input type= "radio" name="civilite" value="1" required> Madame
                                                <input type= "radio" name="civilite" value="2" required> Monsieur
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="nom_responsable">Nom du responsable</label>
                                        <div class="col-md-4">
                                            <input id="nom_responsable" name="nom_responsable" type="text" placeholder="" class="form-control input-md" required>

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="nom_etablissement">Nom de l'établissement</label>
                                        <div class="col-md-4">
                                            <input id="nom_etablissement" name="nom_etablissement" type="text" placeholder="" class="form-control input-md" required>

                                        </div>
                                    </div>
                                    
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="ville">Ville</label>
                                        <div class="col-md-4">
                                            <input id="ville" name="ville" type="text" placeholder="" class="form-control input-md" required>

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="email">Email</label>
                                        <div class="col-md-4">
                                            <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="honneur"></label>
                                        <div class="col-md-4">
                                            <input type="checkbox" name="honneur" value="honneur" required> Je certifie sur l'honneur l'exactitude de ces informations
                                        </div>
                                    </div>

                                    <p>
                                        Un simple email automatique lui sera envoyé sous 48h pour valider ta recommandation en 1 clic.</p>
                                       <p> Qui aura le plus de recommandations ? </p>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="valider"></label>
                                        <div class="col-md-4">

                                            <input value="OK, j'envoie ma demande" type="submit" name="valider" class="btn btn-soshcr">
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->
        </div>
    </div>
{% endblock %}
