{% extends 'SosBundle::layout.html.twig' %}

{% block sos_body %}
<title>Paiement de votre abonnement</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="https://api.payplug.com/js/1.0/form.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
            [].forEach.call(document.querySelectorAll("#signupForm"), function(el) {
      el.addEventListener('submit', function(event) {
        if($('#accepter').is(':checked')) {
        var payplug_url = '{{pay}}';
        Payplug.showPayment(payplug_url);
        event.preventDefault();
        }
      else {
          sweetAlert('Veuillez accepter les conditions générales de vente');
          event.preventDefault();
        }
        })
    })
  })

</script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa fa-flask"></i>Prolonge ton compte</h1>
        <hr />
      </div>
          <form action="" method="post" id="signupForm" class="formulaire" novalidate>
            <p>
              <input type="checkbox" name="accepter" id="accepter" required> J'ai lu et j'accepte les conditions générales de vente
            </p>
            <p>
              <input type="submit" id="submit-button" class="btn  btn-soshcr" value="Payer">
            </p>
          </form>
    </div>
  </div>
</body>
</html>
{% endblock %}