<img src="https://www.soshcr.fr/img/header.png"  style="width:105%;">

<h3 style="text-align: center">Candidats répondants à vos critères de recherche :</h3>
<br><br>



<div style="
margin-left: 250px;
color: #888;
" class="col-sm-8">






</div>








