{% extends 'SosBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb5w8CayJy5D3LK5CnieHl_ZUT2ZXOolI&libraries=places&region=fr"></script>
	<script type="text/javascript" src="{{ asset('bundles/sos/global/js/ville.js') }}"></script>
	
{% endblock %}

{% block sos_body %}

<div class="col-xs-12 col-sm-6 col-sm-offset-3 sos-form col-md-4 col-md-offset-4">
	<h3 class="title-heading">Quel est le nom ou l'adresse précise de votre établissement ?</h3> <br>
	
	<form method="POST" id="ville-submit" action="{{ path('classification') }}">
		<div class="input-group add-on" style="width:100%">
			<input class="form-control" required placeholder="nom ou adresse de votre établissement" name="ville" id="ville">

			<input type="hidden" name="form" value="ville">
			<div class="input-group-btn" style="width:40px">
			    <button class="btn btn-default" id="seach-btn" type="submit">
					<i class="fa fa-search" ></i>
				</button>	
		  	</div>
		</div>
	</form>
</div>

{% endblock %}