{% extends 'SosBundle::layout.html.twig' %}

{% block javascript %}
{% endblock  %}
{% block sos_body %}

Bonjour,
    L'utilisateur souhaite être recommandé par votre établissement.
    Acceptez-vous cette recommandation?

A bientôt,
SOSHCR
                </li>
        </ul>

{% endblock %}