{% extends 'SosBundle::layout.html.twig' %}
{% block sos_body %}
<h3>Statistiques</h3>

<ul>
<li>Candidat actuel</li>
<li>Candidat actuel > 6mois</li>
<li>Prolongation achetée 
	<ol>
		<li>Total Global : 
{% for result in results %}
{{result.nb}}
{% endfor %}
</li>
<li>Mois en cours 
{% for result in result1 %}
{{result.nb}}
{% endfor %}
</li>
<li>Le mois dernier 
{% for result in result2 %}
{{result.nb}}
{% endfor %}
</li>
</ol>
<li>Profil créé
	<ol>
		<li>Total Global : 
{% for result in result3 %}
{{result.nb}}
{% endfor %}
</li>
<li>Mois en cours 
 0 
</li>
{% endblock %}