html,
body {
    margin: 0;
    font-family: "Stellar";
}

body {
    background-color: #fdfdfd!important
}

footer a, header a {
    text-decoration: none!important;
    color: inherit!important;
}

@font-face {
    font-family: "Crunchy";
    src: url("../../fonts/Crunchy.ttf");
    font-weight: 300
}

@font-face {
    font-family: "Stellar";
    src: url("../../fonts/Stellar.otf");
    font-weight: 300
}

.overlay{
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    background: rgba(0,0,0,0.5);
}

@media screen and (min-width: 1500px) {
    
    .content-container{
        min-height: 71vh!important;
    }

}

.content-container{
    min-height: 61vh;
    display: table;
    width:100%;
}

.content-middle{
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 990px) {
    
    .sos-form{
        margin-top: 30px
    }

    #public_profil div h4, .contact-infos{text-align: center}
    #user-nav {
        margin-top: 0px!important;
    }
}

#close-mobile-menu{
    position: absolute;
    top: 5px;
    right: 15px
}

#burger-button{
    cursor:pointer;
    font-size: 30px;
    display: block;
}

.mobile-menu{
    box-shadow: 0px 0px 10px black;
    z-index: 999999999;
    display: none;
    background-color: #394076;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
}

.mobile-menu ul{
    padding:0;
}

.mobile-menu ul li{
    list-style-type: none

}

.mobile-menu a{
    color:#fff;
}

.register-error{
    width: 100%;
    list-style-type: none;
    background: rgba(241, 3, 3, 0.7);
    color: #fff;
    border-radius: 5px;
}

.register-error:before{
    position: absolute;
    left: 30px;
    font-family: 'FontAwesome';
    content: "\f06a";
}

.alert-soshcr{
    background-color: #FFE44B;
    color: #394076;
    font-weight: bold;
}

img.img-responsive.form-img{
    margin: 0 auto;
}

.btn-yellow{
    background-color: #FFE44B;
    color: #394076;
}

.poste-libelle{max-width:100px;}

#modal-login-label .btn-yellow{
    font-size: 22px;
}

.fos_user_registration_register ul{
    padding: 0px;
}

.fos_user_registration_register ul li:before {
    position: absolute;
    left: 30px;
    font-family: 'FontAwesome';
    content: "\f06a";
}

.fos_user_registration_register ul li{
    width: 100%;
    list-style-type: none;
    background: rgba(241, 3, 3, 0.7);
    color: #fff;
    border-radius: 5px;
}

.validate{
     position:absolute;
     top:10px;
     right:0px;
     color:green;
     font-size: 40px;
     display:none;
}

.validated{
    opacity: 0.7;
}

#usercriteres_step_4{
    margin-top: 50px
}
/*******************************************************************
                      LAYOUT
*******************************************************************/

.form-img {
    width: 150px;
    margin: 0 auto;
}
.prim-color{color:#394076}
.datepicker--cell.datepicker--cell-day.public-profil-cell.-selected-.-disabled-{border-radius: 0!important}
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade-{background-color: #9CA1B8!important}
.datepicker--button{color:#394076!important}
.bage-disponible{height: 15px;
    background-color: #9CA1B8;
    width: 15px;
    display: inline-block;}
/***********************************************
          HEADER
/***********************************************/

header.header-small {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    background-color: #394076;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center -50px;
    position: relative;
}

header.header-small .title {
    width: 300px
}

header #loginDesktop {
    font-family: "Stellar";
    text-decoration: underline!important;
    color: #fff!important;
    float: right;
    margin: 0px 50px 0px 0px;    
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: right;
}

header #loginMobile {
    font-family: "Stellar";
    text-decoration: underline!important;
    color: #fff!important;
    float: right;
    margin: 20px auto 0px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: right;
}

header #user-menu{
    color: #fff;
    padding:0px;
    position: absolute;
    list-style-type: none;
    text-align: left;
    display: inline-block;
    right: 90px;
    top: 80px;
    font-size: 13px;
    line-height: 25px;
    display: none;
    width: 120px
}

header .title {
    margin: 20px auto;
    width: 500px
}

header #logo {
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: left
}

header #logo img {
    width: 60px
}

header #login-icon {
    font-size: 30px
}

#barre-jaune-header {
    height: 100px;
    margin-top: -75px;
    clip-path: polygon(0% 85%, 100% 25%, 100% 40%, 0% 100%);
    -webkit-clip-path: polygon(0% 85%, 100% 25%, 100% 40%, 0% 100%);
    background-color: #FFE44B;
    width: 100%
}

#user-nav {
    color: #fff!important;
    margin-top: 50px;
}

#user-icon i {
    font-size: 11px
}

#notification-icon i {
    font-size: 15px
}

.btn-soshcr {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*height: 50px;*/
    background-color: #394076;
    color: #fff;
    font-weight: bold
}

.btn-soshcr:hover {
    color: #fff!important;
}

.poste-libelle{
    line-height: 15px;
    margin-top: 15px;
}

.btn-soshcr:hover {
    color: #fff;
    opacity: 0.9
}

#login-overlay {
    display: none
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait);
{
    header {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%)
    }
    header.header-small,
    #accueil header {
        height: 200px;
        background-position: initial;
    }
    #barre-jaune-header {
        height: 45px;
        margin-top: -30px;
        clip-path: polygon(0% 85%, 100% 15%, 100% 30%, 0% 100%);
        -webkit-clip-path: polygon(0% 85%, 100% 15%, 100% 30%, 0% 100%);
    }
    header.header-small .title,
    #accueil header .title {
        margin: 20px auto;
        width: 300px;
    }
    header #login {
        margin: 20px 20px
    }
    header #logo {
        margin: 20px 0px 0px
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    header {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%)
    }
    #barre-jaune-header {
        height: 100px;
        clip-path: polygon(0% 90%, 100% 30%, 100% 40%, 0% 100%);
        -webkit-clip-path: polygon(0% 90%, 100% 30%, 100% 40%, 0% 100%);
    }
    header.header-small,
    #accueil header {
        height: 200px;
        background-position: initial;
    }
    header.header-small .title,
    #accueil header .title {
        margin: 20px auto;
        width: 300px;
    }
    header #login {
        margin: 20px auto
    }
    header #logo {
        margin: 20px auto
    }
    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%)!important;
        clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%)!important;
    }
}

@media (max-width: 767px) {
    header {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%)
    }
    #barre-jaune-header {
        height: 45px;
        margin-top: -30px;
        clip-path: polygon(0% 85%, 100% 15%, 100% 30%, 0% 100%);
        -webkit-clip-path: polygon(0% 85%, 100% 15%, 100% 30%, 0% 100%);
    }
    header.header-small,
    #accueil header {
        height: 110px;
        background-position: initial;
    }
    header.header-small .title,
    #accueil header .title {
        width: 220px;
        margin: 0 auto
    }
    header #login {
        margin: 20px 0px 0px
    }
    header #logo {
        margin: 20px 0px 0px
    }
    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 55%, 100% 100%, 0% 100%)!important;
        clip-path: polygon(0% 70%, 100% 55%, 100% 100%, 0% 100%)!important;
    }
}


/***********************************************
          CONTAINER   ACCUEIL
/***********************************************/

.container {
    text-align: center;
    /*height: 60vh;*/
}

.container #find-btn {
    line-height: 50px;
    width: 250px;
    display: block;
    border-radius: 30px;
    background-color: #fee359;
    background-image: url(../img/loupe.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50px;
    border: none;
    font-family: "stellar";
    color: #394173;
    margin: 0 auto;
    font-size: 40px;
    border-right: 10px solid #FEE459;
    padding: 15px 50px 15px 25px;
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    height: 70px;
    left: 0;
    right: 0;
}

.container #container-btn {
    background-image: url(../img/people.png);
    display: block;
    position: relative;
    height: 225px;
    background-position: center -15px;
    background-size: 225px;
    background-repeat: no-repeat;
}

.container #text-btn {
    font-family: "Crunchy";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 70px;
    margin: 0;
    letter-spacing: 5px;
    color: #394173;
    margin-bottom: 30px;
}

.container #find-btn:hover {
    opacity: 0.7
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #accueil .container #container-btn {
        background-size: 205px!important;
        background-position: center -5px!important;
        margin: 200px auto;
    }
    #accueil .container #find-btn {
        width: 200px!important;
        font-size: 30px!important;
        background-size: 40px!important
    }
    #accueil .container #text-btn {
        bottom: 20px!important;
        font-size: 50px!important
    }

    .content-container{
        min-height: 72vh!important;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #accueil .container #container-btn {
        background-size: 205px!important;
        background-position: center -5px!important;
        margin: 140px auto;
    }
    #accueil .container #find-btn {
        width: 200px!important;
        font-size: 30px!important;
        background-size: 40px!important
    }
    #accueil .container #text-btn {
        bottom: 20px!important;
        font-size: 50px!important
    }

    .content-container{
        min-height: 52vh!important;
    }

}

@media only screen and (max-width: 767px) {
    #accueil .container #container-btn {
        background-size: 205px!important;
        background-position: center -5px!important;
        margin: 100px auto;
    }
    #accueil .container #find-btn {
        width: 200px!important;
        font-size: 30px!important;
        background-size: 40px!important
    }
    #accueil .container #text-btn {
        bottom: 20px!important;
        font-size: 50px!important
    }
}


/***********************************************
          FOOTER
/***********************************************/

footer {
    position: relative;
    text-align: center;
    background-color: #9CA1B8;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    text-align: center;
}

footer ul {
    position: absolute;
    bottom: 50px;
    transform: rotate(-2.5deg);
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 35px;
    color: #fff;
    font-family: "Stellar";
}

@media only screen and (max-width: 768px) {

    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
    }
    footer ul {
        bottom: 20px;
        transform: rotate(-2.8deg);
        font-size: 15px;
        padding: 0
    }
    footer ul li {
        margin: 0 9px;
        font-size: 11px
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #barre-jaune-footer {
        position: absolute;
        bottom: 15px;
        height: 65px;
        margin-top: -75px;
        clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        -webkit-clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        background-color: #FFE44B;
        width: 0%
    }
    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
        padding-top: 85px
    }
    footer ul {
        font-size: 20px;
        padding: 0
    }
    footer ul li {
        margin: 0 9px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #barre-jaune-footer {
        position: absolute;
        bottom: 15px;
        height: 65px;
        margin-top: -75px;
        clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        -webkit-clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        background-color: #FFE44B;
        width: 0%
    }
    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
        padding-top: 85px;
    }
    footer ul {
        font-size: 20px;
        padding: 0
    }
    footer ul li {
        margin: 0 25px;
    }
}

@media only screen and (min-device-width: 1025px) {
    #barre-jaune-footer {
        position: absolute;
        bottom: 15px;
        height: 110px;
        margin-top: -75px;
        clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        -webkit-clip-path: polygon(0% 86%, 100% 85%, 100% 95%, 0% 97%);
        background-color: #FFE44B;
        width: 0%
    }
    footer {
        -webkit-clip-path: polygon(0% 70%, 100% 10%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 70%, 100% 10%, 100% 100%, 0% 100%);
    }
}


/***********************************************
          FORM
/***********************************************/

.back {
    background: none;
    border: none;
    margin-top: 50px;
}

.form {
    text-align: center;
    /*margin-top: 110px*/
}

.title-heading {
    color: #394076;
    font-family: "Stellar";
    text-align: center;
    margin: 0px
}

#seach-btn {
    background: none;
}

.hdpi.pac-logo:after {
    background: none!important;
    display: none
}


/* hide google powered */

.result-panel-heading {
    background-color: #394076;
    color: #fff;
}

.result-panel {
    background-color: #eee
}


/***********************************************
          VILLE
/***********************************************/

#country_list_id {
    display: none;
    list-style-type: none;
    text-align: left;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 0px;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -o-calc(100% - 40px);
}

#country_list_id li {
    padding: 3px 10px
}

#country_list_id li:hover {
    background-color: #eee;
}



/***********************************************
          FORM
/***********************************************/

.sos-form ul li {
    padding: 0px;
    list-style-type: none;
    min-height: 150px;
}

.sos-form ul li p {
    font-family: "Stellar";
    font-size: 15px
}

.sos-form ul li button {
    background: none;
    border: none
}

/* NAV MENU AUTHENTICATED */

nav.sidebar,
.main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {
    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar a {
        padding-right: 13px;
    }
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    nav.sidebar {
        width: 200px;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }
    nav.sidebar li {
        width: 100%;
    }
    nav.sidebar:hover {
        margin-left: 0px;
    }
    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {
    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    nav.sidebar .forAnimate {
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #394076;
    vertical-align: middle;
}

.box > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    padding: 15px;
    border-radius: 10px
}

.box > .icon > .info > h3.title {
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


.social-circle li a {
  display:inline-block;
  position:relative;
    -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
    margin: 10px auto 0;
}



.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a {
  background-color: #D3D3D3;
}

.box > .icon > .info > .more a {
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon> .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #394076;
}

.box .space {
    height: 30px;
}


.box  .icon  .info  ul {
    list-style-type: none;
    padding: 0;
}
.box > .icon > .info > p {
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.link-register{
    color:#394076;
}


/*=========================
  CGV
 ================= */


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 25px;
    margin-right: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc( 100% - 75px );
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #ccc;
    border-left: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 0px;
    margin-right: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-right-width: 0;
    border-left-width: 15px;
    right: -15px;
    left: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-right-width: 0;
    border-left-width: 14px;
    right: -14px;
    left: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #FFE44B !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #394076 !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
